
@{
    ViewBag.Title = "AwaitingApproval";
}

<h2>AwaitingApproval</h2>

<h2>Your account is awaiting approval</h2>
<p>
    Thank you for registering as a tour guide.
    An administrator will review your request soon.
</p>
<p>
    Once approved, you will be able to sign in.
</p>