@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">Patuvaj</h2>

    <p>
        Patuvaj makes discovering and booking local tours easy! Independent tour guides can share their unique experiences,
        and travelers can find and book adventures that match their style, making every trip unforgettable. Your next adventure is just a tap away!
    </p>
</main>